body {
    /* background-position: 50% !important; */
    /* background-size: 100% !important; */
    /* background-repeat: no-repeat !important; */
}

.alert {
    background-color: rgb(255, 91, 91);
    text-align: center;
    color: white;
    font-weight: 500;
    position: absolute;
    /* width: 100%; */
    z-index: 9999999999;
    /* padding: 10px 0; */
    animation: alert 12s ease-out;
    right: 50%;
    transform: translateX(50%);
    bottom: 50px;
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    opacity: 0;
    outline: 1px solid white;
    display: none;
}

.logoContainer {
    display: flex;
    flex-direction: row;
}

.betaText {
    height: fit-content;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid lime;
    color: lime;
    font-weight: 500;
    font-size: .8em;
    box-shadow: 0 0 5px lime;
}

.logo {
    margin-right: 10px;
    /* filter: drop-shadow(0 0 2px var(--theme-color)); */
}

@keyframes alert {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;

    }

    100% {
        opacity: 0;
    }
}

.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
    flex: 1;
    /* padding: 8px; */
    /* width: 100%; */
    height: 100%;
    /* overflow-y: scroll; */
    /* padding: 0 10px; */
    /* backdrop-filter: blur(5px); */
    /* -webkit-backdrop-filter: blur(5px); */
    /* border-right: 2px solid var(--theme-color); */
    background-color: var(--background-color);
    /* background: rgba(32, 35, 43, 0.3); */
    /* -webkit-backdrop-filter: blur(10px); */
    /* backdrop-filter: blur(10px); */

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    outline: 1px solid rgba(255, 255, 255, .3);

}


/* ===== Scrollbar CSS ===== */
/* Firefox */
.chats {
    scrollbar-width: auto;
    scrollbar-color: white transparent;
}

/* Chrome, Edge, and Safari */
.chats::-webkit-scrollbar {
    width: 3px;
}

.chats::-webkit-scrollbar-track {
    background: transparent;
}

.chats::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 3px solid white;
}

.chats {
    height: calc(100% - 150px);
    /* height: 80vh; */
    overflow-y: scroll;
}

.chatSection {
    flex: 2;
    /* background:
        radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #444725 54% 57%, #0000 59%) 0 calc(220px/2),
        radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #444725 54% 57%, #0000 59%) calc(220px/2) 0,
        radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #444725 54% 57%, #0000 59%),
        radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #444725 54% 57%, #0000 59%),
        #1c1f25;
    background-size: calc(220px/4.667) 220px, 220px calc(220px/4.667); */
}

.navbar {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background: var(--background-color);
    height: 80px;
    outline: 1px solid rgba(255, 255, 255, .3);

}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userNameAndImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName {
    color: white;
    font-size: 16px;
}

.user * {
    margin: 0 5px;
}

.userImg {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    object-fit: cover;
}

.logout {
    background: rgb(255, 91, 91);
    /* color: white; */
    border: none;
    padding: 5px;
    border-radius: var(--input-border-radius);
}

.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* padding: 8px; */
}

.searchForm {
    /* width: 100%; */
    /* padding: 8px; */
    padding: 10px;
    width: 92%;
    position: relative;
}

.searchForm input {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    height: 30px;
    /* background: var(--input-element-color); */
    border: none;
    color: white;
    background: url(/searchIcon.svg) no-repeat scroll 90% 50%;
    background-size: 25px;
    background-color: var(--input-element-color);
    border-radius: var(--input-border-radius);
    padding-left: 15px;
}

.searchButton {
    position: absolute;
    right: 5%;
    height: 50px;
    opacity: 0;
    width: 50px;
}

.userChat {
    /* width: 100%; */
    display: flex;
    align-items: center;
    /* border-bottom: .5px solid rgba(255, 255, 255, 0.4); */
    margin: 5px 0;
    padding: 5px 0;
    /* border-radius: var(--input-border-radius); */
    /* width: 95%; */
    cursor: pointer;
    position: relative;
    /* padding: 0 10px; */

}

.currentUserChat {
    border-left: 3px solid var(--theme-color) !important;
    background: var(--input-element-color) !important;

}

.userChat:hover {
    background-color: rgba(0, 0, 0, .5);
}

.userChat .userImg {
    margin: 0 5px;
}

.userChat::before {
    /* content: ''; */
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
    background-color: var(--theme-color);
    /* border-left: 3px solid var(--theme-color); */
}


.chatNavbar {
    background: var(--background-color);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    /* padding: 10px 0; */
    height: 80px;

}

.showContacts {
    display: none;
    z-index: 999;
}

.chatInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.chatImg {
    width: 40px;
    margin: 0 5px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.chatIcons {
    margin: 0 5px;
    display: flex;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;
}

.chatIcon-icon {
    width: 20px;
}

.input {
    height: 60px;
    background: var(--background-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 1px solid rgba(255, 255, 255, .3);
}

.input input {
    width: 80%;
    height: 30px;
    background-color: var(--input-element-color);
    border-radius: var(--input-border-radius);
    border: none;
    padding: 10px;
    color: white;
    font-size: 17px;
}



#file {
    display: none;
}

.attachmentIcon {
    width: 30px;
}

.sendBtn {
    background: var(--theme-color);
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.sendBtnIcon {
    /* padding: 0; */
    width: 20px;
}

.messages {
    height: calc(100% - 160px);
    overflow-y: scroll;
    padding: 0 10px;
    outline: 1px solid rgba(255, 255, 255, .3);


}

.messages {
    scrollbar-width: auto;
    scrollbar-color: white transparent;
}

/* Chrome, Edge, and Safari */
.messages::-webkit-scrollbar {
    width: 3px;
}

.messages::-webkit-scrollbar-track {
    background: transparent;
}

.messages::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 3px solid transparent;
}

.message {
    display: flex;
    /* margin-bottom: 5px; */
    align-items: center;
    padding: 0 5px;
}

.message:hover {
    border-radius: 10px;
    background: var(--input-element-color);
}

.messageInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.messageInfoChatTime {
    color: rgba(255, 255, 255, 0.604);
    font-size: 12px;
}

.messageInfoChatImg {
    width: 40px;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}

.messageContent {
    max-width: 70%;
}

.messageContent p {
    padding: 10px;
    /* background-color: #2e2e2e; */
    border-left: 2px solid #8e8e8e;
    /* background: var(--form-background-color); */
    /* color: white; */
    /* border-radius: 0px 8px 8px 8px; */
    /* border-radius: var(--input-border-radius) 0px var(--input-border-radius) var(--input-border-radius); */
    max-width: max-content;
    margin: 10px;
    color: white;
    width: fit-content;

}

.messageContent img {
    background: transparent;
    width: 200px;
}

.sender {
    /* flex-direction: row-reverse; */
}

.senderContent {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.senderContent p {
    /* display: flex; */
    /* justify-content: end; */
    /* border-radius: 8px 0 8px 8px; */
    /* background: var(--theme-color); */
    border-left: 2px solid var(--theme-color);
    text-align: left;
    color: white;
    /* width: 80%; */
    width: fit-content;
    /* max-width: 50%; */
    word-break: break-all;
}

.toggleSidebar {
    transform: translateX(0) !important;
    /* width: 90%; */
}


.lds-ellipsis {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    position: relative;
    width: 80px;
    /* width: 100%; */
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--theme-color);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--theme-color);
    height: 2px;
    animation: loader 2s;
}

@keyframes loader {
    0% {
        width: 0%;
    }

    80% {
        width: 80%;
    }

    100% {
        width: 100%;
    }
}

.lastMessage {
    color: darkgrey;
    margin: 5px 0;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.mediaImg {
    /* height: 100%; */
    border-radius: var(--input-border-radius);
}

.backArrow {
    display: none;
}

.globalChat {
    flex: 1;
    outline: 1px solid rgba(255, 255, 255, .3);
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

.globalChatIcon {
    margin: 10px 0;
}

.globalInput {
    height: 60px;
    background: var(--background-color);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    outline: 1px solid rgba(255, 255, 255, .3);
    width: 100%;
}

.globalInput input {
    width: 70%;
    height: 30px;
    background-color: var(--input-element-color);
    border-radius: var(--input-border-radius);
    border: none;
    padding: 10px;
    color: white;
    font-size: 17px;
}

.globalSendBtn {
    background: var(--theme-color);
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    /* display: none; */
}

.globalChatMessages {
    color: white;
    height: calc(100% - 160px);
    width: 100%;
    overflow-y: scroll;
    /* padding: 0 10px; */
    outline: 1px solid rgba(255, 255, 255, .3);
}

.globalChatMessages {
    scrollbar-width: auto;
    scrollbar-color: white transparent;
}

/* Chrome, Edge, and Safari */
.globalChatMessages::-webkit-scrollbar {
    width: 3px;
}

.globalChatMessages::-webkit-scrollbar-track {
    background: transparent;
}

.globalChatMessages::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 3px solid transparent;
}

.globalChatName {
    margin: 5px 0;
    padding: 0;
}

.globalSender {
    border-left: 3px solid var(--theme-color) !important;
}