.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background:
        radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #444725 54% 57%, #0000 59%) 0 calc(220px/2),
        radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #444725 54% 57%, #0000 59%) calc(220px/2) 0,
        radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #444725 54% 57%, #0000 59%),
        radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #444725 54% 57%, #0000 59%),
        #1c1f25;
    background-size: calc(220px/4.667) 220px, 220px calc(220px/4.667); */

}

.formContainer {
    /* background: var(--input-element-color); */
    display: flex;
    flex-direction: column;
    /* height: 70%; */
    padding: var(--form-interior-padding);
    width: 30%;
    border-radius: var(--border-radius);
    border: 5px solid var(--theme-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* min-width: 90%; */
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 15px 0;
}

.formLogo {
    width: 50px;
}

.title {
    text-align: center;
    margin: 12px 0;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.writtenInput {
    background: var(--background-color);
    border: none;
    margin: 5px 0;
    height: 40px;
    border-radius: var(--input-border-radius);
    padding-left: 10px;
    color: white;
    width: 100%;
    /* border-bottom: 1px solid var(--submit-button-background); */
}

.writtenInput::placeholder {
    font-size: 14px;
}

#avatar {
    display: none;
}

.avatarLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    cursor: pointer;
}

.userImage {
    margin: 0 5px;
    width: 25px;
}

.submit {
    background: var(--theme-color);
    border: none;
    padding: 10px 0;
    border-radius: var(--input-border-radius);
    cursor: pointer;
    width: 100%;
}

.prompt {
    text-align: center;
    font-size: 12px;
}

.error-message {
    background-color: rgba(255, 198, 198, .2);
    text-align: center;
    border-radius: var(--input-border-radius);
    margin-bottom: 15px;
    padding: 5px 0;
    color: rgb(255, 110, 110);
    font-weight: 600;
    border: 2px solid rgb(255, 110, 110);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    width: 100%;
}

.redirect {
    color: white;
    text-decoration: underline;
}