@media(max-width: 1200px) {
    .formContainer {
        width: 50%;
    }

    .chatSection {
        flex: 2;
    }

    .input input {
        width: 80%;
    }
}

@media(max-width: 920px) {
    body {
        position: fixed;
        width: 100%;
    }

    .alert {
        display: block;
    }

    .globalChat {
        position: absolute;
        height: 100%;
        width: 100%;
        flex: 0;
        transform: translateX(-100%);
        transition: .3s;
        /* display: none; */
    }

    .globalChatTrigger {
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .globalChatTriggerImg {
        width: 40px;
        height: 40px;
    }

    .betaText {
        display: none;
        /* font-size: .5em; */
    }

    html {
        overflow: inherit;
    }

    .backArrow {
        display: block;
        /* top: 0; */
    }

    .chatNavbar {
        justify-content: center;
    }

    .formContainer {
        width: 70%;
    }

    .sidebar {
        position: absolute;
        height: 100%;
        width: 100%;
        flex: 0;
        transform: translateX(-100%);
        transition: .3s;
        z-index: 2;
    }

    .chatInfo {
        flex-direction: column;
    }

    .chatImg {
        height: 40px;
        object-fit: cover;
        width: 40px;
    }

    .chatIcons {
        width: 120px;
    }

    .logo {
        /* display: none; */
        /* opacity: 0; */
        /* background-color: red; */
        /* width: 1000px; */
    }

    .showContacts {
        display: flex;
        /* background-color: var(--background-color); */
        position: absolute;
        left: 0;
        /* background-color: black; */
        border-radius: 50%;
        /* padding: 10px; */
        /* z-index: 9999; */
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        padding: 5px;
        z-index: 0;
    }

    .logoContainer {}

    .showContactsIcon {
        width: 40px;
    }

    .user {
        margin: 0 40px;
    }
}

@media(max-width: 650px) {
    .formContainer {
        width: 80%;
    }

    .input input {
        width: 70%;
    }

    .user {
        margin: 0 20px;
    }

    .userNameAndImg {
        /* flex-direction: column; */
    }
}